<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="PwnForWhat" />

        <meta property="og:type" content="article" />
        <meta name="twitter:card" content="summary">

<meta name="keywords" content=", python, " />

<meta property="og:title" content="Jinja2 模板引擎学习总结 "/>
<meta property="og:url" content="https://weilet.github.io/jinja2-模板引擎学习总结" />
<meta property="og:description" content="Jinja2 模板引擎 学习 变量绑定 输出变量为 name 的变量 {{ name }} 输出对象 user 中的变量名为 name 的变量 {{ user.name }} 或者是 {{ user[&#39;name&#39;] }} if - else 选择语句 与其他语言的 if - else 语句并无太大区别 {% if name and name == &#39;admin&#39; %} &lt;span&gt;欢迎进入管理界面&lt;/span&gt; {% elif name %} &lt;span&gt;欢迎你 {{ name }}&lt;/span&gt; {% else %} &lt;span&gt;需要登陆&lt;/span&gt; {% endif %} for 循环 需要注意内置的loop 方法，非常好用。 后台爬取到广州各区的天气存储在 …" />
<meta property="og:site_name" content="Weilet&#39;s Workshop" />
<meta property="og:article:author" content="PwnForWhat" />
<meta property="og:article:published_time" content="2018-10-28T21:56:00+08:00" />
<meta name="twitter:title" content="Jinja2 模板引擎学习总结 ">
<meta name="twitter:description" content="Jinja2 模板引擎 学习 变量绑定 输出变量为 name 的变量 {{ name }} 输出对象 user 中的变量名为 name 的变量 {{ user.name }} 或者是 {{ user[&#39;name&#39;] }} if - else 选择语句 与其他语言的 if - else 语句并无太大区别 {% if name and name == &#39;admin&#39; %} &lt;span&gt;欢迎进入管理界面&lt;/span&gt; {% elif name %} &lt;span&gt;欢迎你 {{ name }}&lt;/span&gt; {% else %} &lt;span&gt;需要登陆&lt;/span&gt; {% endif %} for 循环 需要注意内置的loop 方法，非常好用。 后台爬取到广州各区的天气存储在 …">

        <title>Jinja2 模板引擎学习总结  · Weilet&#39;s Workshop
</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://weilet.github.io/theme/css/elegant.prod.css" media="screen">
        <link rel="stylesheet" type="text/css" href="https://weilet.github.io/theme/css/custom.css" media="screen">

        <link rel="shortcut icon" href="https://weilet.github.io/theme/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="https://weilet.github.io/theme/images/apple-touch-icon-152x152.png" type="image/png" />
        <link rel="apple-touch-icon" href="https://weilet.github.io/theme/images/apple-touch-icon.png"  type="image/png" />
        <link rel="apple-touch-icon" sizes="57x57" href="https://weilet.github.io/theme/images/apple-touch-icon-57x57.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="72x72" href="https://weilet.github.io/theme/images/apple-touch-icon-72x72.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://weilet.github.io/theme/images/apple-touch-icon-76x76.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://weilet.github.io/theme/images/apple-touch-icon-114x114.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://weilet.github.io/theme/images/apple-touch-icon-120x120.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://weilet.github.io/theme/images/apple-touch-icon-144x144.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://weilet.github.io/theme/images/apple-touch-icon-152x152.png" type="image/png" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://weilet.github.io/theme/images/apple-touch-icon-180x180.png" type="image/png" />
        <link href="https://weilet.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Weilet&#39;s Workshop - Full Atom Feed" />


    </head>
    <body>
        <div id="content">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="https://weilet.github.io/"><span class=site-name>Weilet's Workshop</span></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right top-menu">
                                <li >
                                    <a href=
                                       https://weilet.github.io
                                    >Home</a>
                                </li>
                                <li ><a href="https://weilet.github.io/categories">Categories</a></li>
                                <li ><a href="https://weilet.github.io/tags">Tags</a></li>
                                <li ><a href="https://weilet.github.io/archives">Archives</a></li>
                                <li><form class="navbar-search" action="https://weilet.github.io/search" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input"></form></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span10">
<article itemscope>
<div class="row-fluid">
    <header class="page-header span10 offset2">
        <h1>
            <a href="https://weilet.github.io/jinja2-模板引擎学习总结">
                Jinja2&nbsp;模板引擎学习总结
            </a>
        </h1>
    </header>
</div>

<div class="row-fluid">
        <div class="span8 offset2 article-content">
            
            <h2 id="jinja2">Jinja2 模板引擎 学习<a class="headerlink" href="#jinja2" title="Permanent link"> </a></h2>
<h3 id="_1">变量绑定<a class="headerlink" href="#_1" title="Permanent link"> </a></h3>
<p>输出变量为 <code>name</code> 的变量  </p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>


<p>输出对象 <code>user</code> 中的变量名为 <code>name</code> 的变量</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">user.name</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>


<p>或者是</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">user</span><span class="o">[</span><span class="s1">&#39;name&#39;</span><span class="o">]</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>


<h3 id="if-else">if - else 选择语句<a class="headerlink" href="#if-else" title="Permanent link"> </a></h3>
<p>与其他语言的 if - else&nbsp;语句并无太大区别</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">if</span> <span class="nv">name</span> <span class="k">and</span> <span class="nv">name</span> <span class="o">==</span> <span class="s1">&#39;admin&#39;</span> <span class="cp">%}</span>
    <span class="nt">&lt;span&gt;</span>欢迎进入管理界面<span class="nt">&lt;/span&gt;</span>
<span class="cp">{%</span> <span class="k">elif</span> <span class="nv">name</span> <span class="cp">%}</span>
    <span class="nt">&lt;span&gt;</span>欢迎你 <span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span><span class="nt">&lt;/span&gt;</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span>
    <span class="nt">&lt;span&gt;</span>需要登陆<span class="nt">&lt;/span&gt;</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span>
</pre></div>


<h3 id="for">for 循环<a class="headerlink" href="#for" title="Permanent link"> </a></h3>
<blockquote>
<p>需要注意内置的loop&nbsp;方法，非常好用。</p>
</blockquote>
<p>后台爬取到广州各区的天气存储在 <code>weather_list</code> 中，想要输出它们</p>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">for</span> <span class="nv">data</span> <span class="k">in</span> <span class="nv">weather_list</span> <span class="cp">%}</span>
    <span class="cp">{%</span> <span class="k">if</span> <span class="nb">loop</span><span class="nv">.first</span> <span class="cp">%}</span>
        <span class="nt">&lt;ul&gt;</span>天气列表<span class="nt">&lt;/ul&gt;</span>
    <span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span>
        <span class="nt">&lt;li&gt;</span>今天 <span class="cp">{{</span> <span class="nv">data.area</span> <span class="cp">}}</span> 的天气是 <span class="cp">{{</span> <span class="nv">data.weather</span> <span class="cp">}}</span><span class="nt">&lt;/li&gt;</span>
    <span class="cp">{%</span> <span class="k">if</span> <span class="nb">loop</span><span class="nv">.last</span> <span class="cp">%}</span>
        <span class="nt">&lt;li&gt;</span>共<span class="cp">{{</span><span class="nb">loop</span><span class="nv">.length</span><span class="cp">}}</span>条数据<span class="nt">&lt;li&gt;</span>
    <span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
</pre></div>


<hr />
<p>目前用到的就这么多，日后用到更多的功能会更新此文。</p>


             
 
                <p id="post-share-links">
    Share on:
    <a href="https://twitter.com/intent/tweet?text=Jinja2%C2%A0%E6%A8%A1%E6%9D%BF%E5%BC%95%E6%93%8E%E5%AD%A6%E4%B9%A0%E6%80%BB%E7%BB%93&url=https%3A//weilet.github.io/jinja2-%E6%A8%A1%E6%9D%BF%E5%BC%95%E6%93%8E%E5%AD%A6%E4%B9%A0%E6%80%BB%E7%BB%93" target="_blank" rel="nofollow noopener noreferrer" title="Share on Twitter">Twitter</a>
    ❄
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//weilet.github.io/jinja2-%E6%A8%A1%E6%9D%BF%E5%BC%95%E6%93%8E%E5%AD%A6%E4%B9%A0%E6%80%BB%E7%BB%93" target="_blank" rel="nofollow noopener noreferrer" title="Share on Facebook">Facebook</a>
    ❄
    <a href="mailto:?subject=Jinja2%C2%A0%E6%A8%A1%E6%9D%BF%E5%BC%95%E6%93%8E%E5%AD%A6%E4%B9%A0%E6%80%BB%E7%BB%93&amp;body=https%3A//weilet.github.io/jinja2-%E6%A8%A1%E6%9D%BF%E5%BC%95%E6%93%8E%E5%AD%A6%E4%B9%A0%E6%80%BB%E7%BB%93" target="_blank" rel="nofollow noopener noreferrer" title="Share via Email">Email</a>
    </p>

            
            






            <hr/>
            <aside>
            <nav>
            <ul class="articles-timeline">
                <li class="previous-article">« <a href="https://weilet.github.io/用python，查快递" title="Previous: 用python，查快递">用python，查快递</a></li>
                <li class="next-article"><a href="https://weilet.github.io/python-函数注释" title="Next: Python 函数注释">Python 函数注释</a> »</li>
            </ul>
            </nav>
            </aside>
        </div>
        <section id="article-sidebar" class="span2">
            <h4>Published</h4>
            <time itemprop="dateCreated" datetime="2018-10-28T21:56:00+08:00">Oct 28, 2018</time>
            <h4>Category</h4>
            <a class="category-link" href="https://weilet.github.io/categories#python-ref">python</a>
<h4>Contact</h4>
<div id="sidebar-social-link">
    <a href="https://github.com/Pelican-Elegant/" title="Elegant Github Repository" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="GitHub" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#1B1817"/><path fill="#fff" d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-50c-71 16-86-28-86-28-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z"/></svg>
    </a>
    <a href="https://weilet.github.io/feeds/all.atom.xml" title="" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="RSS" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#f80"/><circle cx="145" cy="367" r="35" fill="#fff"/><path fill="none" stroke="#fff" stroke-width="60" d="M109 241c89 0 162 73 162 162M109 127c152 0 276 124 276 276"/></svg>
    </a>
</div>
            





            



        </section>
</div>
</article>
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
<footer>
    <div>
        
    Content licensed under <a rel="license nofollow noopener noreferrer"
    href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
    Creative Commons Attribution 4.0 International License</a>.
    
    </div>

    <div>
        <span class="site-name">Weilet's Workshop</span> - Don't be evil
    </div>



    <div id="fpowered">
        Powered by: <a href="http://getpelican.com/" title="Pelican Home Page" target="_blank" rel="nofollow noopener noreferrer">Pelican</a>
        Theme: <a href="https://elegant.oncrashreboot.com/" title="Theme Elegant Home Page" target="_blank" rel="nofollow noopener noreferrer">Elegant</a>
        Hosted on:
        <a href=https://pages.github.com/ target="_blank" rel="nofollow noopener noreferrer">
            Github Pages
        </a>
    </div>
</footer>            <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script>
            function validateForm(query)
            {
                return (query.length > 0);
            }
        </script>

    <script>
    (function () {
        if (window.location.hash.match(/^#comment-\d+$/)) {
            $('#comment_thread').collapse('show');
        }
    })();
    window.onhashchange=function(){
        if (window.location.hash.match(/^#comment-\d+$/))
            window.location.reload(true);
    }
    $('#comment_thread').on('shown', function () {
        var link = document.getElementById('comment-accordion-toggle');
        var old_innerHTML = link.innerHTML;
        $(link).fadeOut(200, function() {
            $(this).text('Click here to hide comments').fadeIn(200);
        });
        $('#comment_thread').on('hidden', function () {
            $(link).fadeOut(200, function() {
                $(this).text(old_innerHTML).fadeIn(200);
            });
        })
    })
</script>

    </body>
    <!-- Theme: Elegant built for Pelican
        License : MIT -->
</html>