<nav class="nav">
    <div class="nav-container">
        <div class="brand">
            <a href="{{ SITEURL }}">Weilet's Blog</a>
        </div>
        <div class="links">
            <a class="main-nav-link" href="/archives">归档</a>
            <a class="main-nav-link" href="/categories">分类</a>
            <a class="main-nav-link" href="/tags">标签</a>
            <a class="main-nav-link" href="/index.xml">
                <img src="/theme/images/rss.ico">
            </a>
        </div>
    </div>
</nav>