<link href="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.css" rel="stylesheet">
<style type="text/css">
  .toc {
    position:fixed !important;
    font-weight: normal;
    font-size: 1.2rem;
    top: 20%;
    right: 0;
    padding: 0;
    margin: 0 2em 1em 1em;
  }
  .is-active-link::before {
    background-color: #5183f5;
  }
  @media (max-width: 1217px) {
    .toc {
      display: none;
    }
  }
</style>
<div class="toc"></div>
<script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
<script type="text/javascript">
var headers = 'h1',
    content = '.time-line',
    idArr = {};
tocbot.init({
    tocSelector: '.toc',
    contentSelector: content,
    headingSelector: headers,
    scrollSmooth: true,
    scrollSmoothOffset: -100,
    headingsOffset: 100
});
$(document).on('pjax:send', function() {
    if ($('.toc').length) tocbot.destroy();
})

$(document).on('pjax:complete', function() {
    toc.init(tocOptions);
})
</script>