<link href="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.css" rel="stylesheet">
<style type="text/css">
  .toc {
    font-weight: normal;
    font-size: 1rem;
    top: 20%;
  }
  .is-position-fixed {
    position:fixed !important;
    top:20%;
  }
  @media (max-width: 1217px) {
    .toc {
      display: none;
    }
  }
</style>
<div class="toc is-position-fixed"></div>
<script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
<script type="text/javascript">
var headers = 'h3, h4',
  content = '.single',//文章容器
  idArr = {}; //标题数组以确定是否增加索引id
  tocbot.init({
    tocSelector: '.toc',
    contentSelector: content,
    headingSelector: headers,
    positionFixedSelector: '.toc',
    positionFixedClass: 'is-position-fixed',
    fixedSidebarOffset: 'auto',
    scrollSmooth: true,
    scrollSmoothOffset: -100,
    headingsOffset: 100
  });
  $(document).on('pjax:send',function(){
  if ($('.toc').length) tocbot.destroy();
})

  $(document).on('pjax:complete',function(){
  toc.init(tocOptions);
})
</script>