{% extends "base.html" %}
{% block title %}
	<title>归档</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <h1>所有文章</h1>
        <div class="search-container"><input class="search" id="searchTerm" type="text" name="searchTerm" placeholder="在此输入以过滤..." data-com.onepassword.iv="" oninput="search()"></div>
        {% for article in dates %}
            <section class="posts">
            <a href="/{{ article.url }}">
                <div class="each">
                    <div>
                        <h2>{{ article.title }}</h2>
                        <div class="excerpt">{{ article.locale_date }}</div>
                    </div>
                </div>
            </a>
        </section>    
        {% endfor %}
    </div>
</main>
{% endblock %}




{% for article in dates %}
                {% set year = article.date.strftime('%Y') %}
                {% if loop.first %}
                    <h2 id="{{year }}"><a href="#{{year}}">{{ year }}</a></h2>
                {% else %}
                    {% set prevyear = loop.previtem.date.strftime('%Y') %}
                    {%if prevyear != year %}
                        <h2 id="{{year }}"><a href="#{{year}}">{{ year }}</a></h2>
                    {% endif %}
                {% endif %}

                {% if loop.last %}
                    <div itemscope class="last-entry-of-year">
                {% else %}
                {% set next_year = loop.nextitem.date.strftime('%Y') %}

                    {% if next_year != year %}
                        <div itemscope class="last-entry-of-year">
                    {% else %}
                        <div itemscope>
                    {% endif %}
                {% endif %}

                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {%if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}
                </time>
                </div>
            {% endfor %}