{% extends "base.html" %}
{% block title %}
	<title>归档</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <h1>所有文章</h1>
        {% include "includes/_search_bar.html" %}
        {% for article in dates %}
            {% if article.visible != 'False' %}
                {% set year = article.date|strftime('%Y')%}
                {% if loop.first %}
                    <h2 id="{{ year }}">
                        <a href="#{{ year }}">
                            {{ year }}
                        </a>
                    </h2>
                {% else %}
                    {% set prevyear = loop.previtem.date.strftime('%Y') %}
                    {% if prevyear != year %}
                    <h2 id="{{ year }}">
                        <a href="#{{ year }}">
                            {{ year}}
                        </a>
                    </h2>
                    {% endif %}
                {% endif %}
            <section class="posts">
                <a href="/{{ article.url }}">
                    <div class="each">
                        <div>
                            <h2>{{ article.title }}</h2>
                            <div class="excerpt">{{ article.locale_date }}</div>
                        </div>
                    </div>
                </a>
            </section>    
            {% endif %}
        {% endfor %}
    </div>
</main>
{% block script %}
    {% include "includes/_search_script.html"%}
{% endblock %}
{% endblock %}
