{% extends "base.html" %}
{% block title %}
<title>{{ article.title|striptags|e }}</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <article class="single container">
        <header class="single-header">
            <div class="flex">
                <h1>{{ article.title }}</h1>
                <div class="post-meta">
                    <time class="date">{{ article.locale_date }}</time>
                </div>
                {% if article.tags %}
                <div class="tag-container">
                    {% for tag in article.tags %}
                    <a style="text-decoration:none" href="{{tag.url}}">
                        <span>{{ tag }}</span>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </header>
        <div class="post">
            {{ article.content }}
        </div>
    </article>
</main>
{% endblock %}