{% extends "base.html" %}
{% block title %}
<title>分类</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <h1>Categories</h1>
        <div class="tag-container">
        	{% for category, articles in categories %}
        	{% set num = articles|count %}
    	    	<a href="/category/{{ category }}">
    	    		<span>{{ category }}<strong class="count">{{ num }}</strong></span>
    	    	</a>    		
        	{% endfor %}
        </div>
    </div>
</main>
{% endblock %}