{% extends "base.html" %}
{% block title %}
<title>Weilet's Blog</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container front-page">
        {% for category, articles in categories %}
        <section class="section">
            <h2>Articles on {{ category }}</h2>
            <section class="posts simple">
                {% for article in articles %}
                {% if loop.index0 < 5 %} 
                <a href="/{{ article.url }}">
                    <div class="each">
                        <div>
                            <h2>{{ article.title }}</h2>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </section>
        </section>
        {% endfor %}
    </div>
</main>
{%endblock %}