{% extends "base.html" %}
{% block title %}
<title>{{ tag }}</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <h1><u>{{ tag }}</u></h1>
        <section class="posts">
            {% set num = articles|count %}
            {% if num > 6 %}
            {% include "includes/_search_bar.html" %}
            {% endif %}
            {% for article in articles %}
            {% if article.visible != 'False' %}
            <a href="/{{ article.url }}">
                <div class="each">
                    <div>
                        <h2>{{ article.title }}</h2>
                        <div class="excerpt">{{ article.locale_date }}</div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </section>
    </div>
</main>
{% block script %}
    {% include "includes/_search_script.html" %}
{% endblock %}
{% endblock %}