{% extends "base.html" %}
{% block title %}
    <title>标签</title>
{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <h1>Tags</h1>
        <div class="tag-container">
        	{% for tag, articles in tags|sort %}
            {% set num = articles|count %}
            <a href="/tag/{{ tag }}">
            	<span>{{ tag }}<strong class="count">{{ num }}</strong></span>
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}